<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>

    <div id="go-down"></div>

    <%- include('lastwork') %>

    <%- include('../components/services') %>

    <%- include('testimonials') %>

    <%- include('../components/contact') %>

    <%- include('../layout/footer') %> 
    
    <%- include('../layout/foot') %>

    <script src="javascripts/count-numbers.js"></script>
    <script>
      $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
          loop: true,
          margin: 10,
          autoplay: true,
          autoplayTimeout: 3000,
          autoplayHoverPause: true,
          responsiveClass: true,
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            1000: {
              items: 1,
            },
          },
        });
      });
    </script>
  </body>
</html>
