<!DOCTYPE html>
<html>
  <%- include('../layout/head') %>
  <body>
    <%- include('../layout/header') %>

    <%- include('../components/content-block') %>
    
    <%- include('../components/services') %>

    <%- include('../components/contact') %>

    <%- include('../layout/footer') %> 
    
    <%- include('../layout/foot') %>

  </body>
</html>
