<section id="skills" class="skills-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Skills</h2>
    <div class="d-flex flex-wrap">
      <% for (let [key, value] of Object.entries(skills.languages)){ %>
      <div class="col-md-6 col-10 skill-progress ps-5 pe-4">
        <div class="skill-title"><h3><%= key %></h3></div>
        <div class="progress">
          <div
            class="progress-bar six-sec-ease-in-out"
            role="progressbar"
            aria-valuenow="<%= value %>"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <span><%= value %>%</span>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <div class="skill-chart text-center">
      <h3>More skills</h3>
    </div>
    <div class="row more-skill text-center">
      <% for (let [key, value] of Object.entries(skills.technics)){ %>
      <div class="col-xs-12 col-sm-4 col-md-2 skill-chart">
        <div class="chart" data-percent="<%= value %>" data-color="e74c3c">
          <span class="percent"></span>
          <div class="chart-text">
            <span><%= key %></span>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
