<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>

    <link href="css/magnific-popup.css" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/portfolio.css">
  </head>
  <body>
    <%- include('../layout/header') %>

    <div id="go-down"></div>

    <%- include('works') %>
    
    <%- include('../components/contact') %>

    <%- include('../layout/footer') %> 
    
    <%- include('../layout/foot') %>

    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery_shuffle.min.js"></script>
    <script src="javascripts/portfolio.js"></script>
</body>
</html>
