<section id="works" class="works-section">
  <div class="container pt-5">
    <h1 class="section-title wow fadeInUp block-heading text-black">Works</h1>
    <ul class="list-inline d-flex justify-content-center" id="filter">
      <li class="m-1">
        <a class="active text-decoration-none" data-group="all">All</a>
      </li>
      <% initTags.forEach(tag=>{ %>
      <li class="m-1">
        <a class="text-decoration-none" data-group="<%= tag %>"><%= tag %></a>
      </li>
      <% }) %>
      <div class="ms-1">
        <select
          type="text"
          class="form-control form-control-sm border-0 bg-transparent"
          id="more-filters"
        >
          <option value="all">More ...</option>
          <% tags.forEach(tag=>{ %>
          <option value="<%= tag %>"><%= tag %></option>
          <% }) %>
        </select>
      </div>
    </ul>
    <div class="row">
      <div id="grid">
        <% repos.forEach((repo, index)=>{ %>
        <div
          class="portfolio-item grid-item col-lg-3 col-md-3 col-sm-6"
          data-groups="<%= JSON.stringify(['all', ...repo.tag]) %>"
        >
          <div class="portfolio-bg shadow rounded">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a class="image-link" href="img/repos/<%= repo.img %>">
                  <i class="fa fa-search-plus"></i>
                </a>
                <a href="<%= repo.github %>" target="_blank">
                  <i class="fa fa-link"></i>
                </a>
              </div>
              <img src="img/repos/<%= repo.img %>" alt="image" width="100%" />
            </div>
            <div class="portfolio-detail">
              <div class="btn-group btn-group-sm">
                <span class="btn btn-secondary p-0 ps-2 pe-1">lines</span>
                <span class="btn btn-success p-0 ps-1 pe-2"
                  ><%= repo.code.num %><%= repo.code.suf %></span
                >
              </div>
              <div class="d-flex flex-wrap">
                <% repo.languages.forEach((lan)=>{ %>
                <div class="ms-2 mb-0 mt-0">
                  <span class="language-badge <%= lan.name %>"> </span>
                  <span class="text-white"><%= lan.name %></span>
                  <span class="text-white-50"><%= lan.rate %>%</span>
                </div>
                <% }) %>
              </div>
            </div>
            <div class="portfolio-info">
              <h3><%= repo.title %></h3>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>
